@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* FONT IMPORTS */

  /* poppins-regular - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url('../public/fonts/poppins-v20-latin-regular.eot'); /* IE9 Compat Modes */
    src: url('../public/fonts/poppins-v20-latin-regular.eot?#iefix')
        format('embedded-opentype'),
      /* IE6-IE8 */ url('../public/fonts/poppins-v20-latin-regular.woff2')
        format('woff2'),
      /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
        url('../public/fonts/poppins-v20-latin-regular.woff') format('woff'),
      /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
        url('../public/fonts/poppins-v20-latin-regular.ttf') format('truetype'),
      /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
        url('../public/fonts/poppins-v20-latin-regular.svg#Poppins')
        format('svg'); /* Legacy iOS */
  }
  /* poppins-500 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    src: url('../public/fonts/poppins-v20-latin-500.eot'); /* IE9 Compat Modes */
    src: url('../public/fonts/poppins-v20-latin-500.eot?#iefix')
        format('embedded-opentype'),
      /* IE6-IE8 */ url('../public/fonts/poppins-v20-latin-500.woff2')
        format('woff2'),
      /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
        url('../public/fonts/poppins-v20-latin-500.woff') format('woff'),
      /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
        url('../public/fonts/poppins-v20-latin-500.ttf') format('truetype'),
      /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
        url('../public/fonts/poppins-v20-latin-500.svg#Poppins') format('svg'); /* Legacy iOS */
  }
  /* poppins-600 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    src: url('../public/fonts/poppins-v20-latin-600.eot'); /* IE9 Compat Modes */
    src: url('../public/fonts/poppins-v20-latin-600.eot?#iefix')
        format('embedded-opentype'),
      /* IE6-IE8 */ url('../public/fonts/poppins-v20-latin-600.woff2')
        format('woff2'),
      /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
        url('../public/fonts/poppins-v20-latin-600.woff') format('woff'),
      /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
        url('../public/fonts/poppins-v20-latin-600.ttf') format('truetype'),
      /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
        url('../public/fonts/poppins-v20-latin-600.svg#Poppins') format('svg'); /* Legacy iOS */
  }
  /* poppins-700 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    src: url('../public/fonts/poppins-v20-latin-700.eot'); /* IE9 Compat Modes */
    src: url('../public/fonts/poppins-v20-latin-700.eot?#iefix')
        format('embedded-opentype'),
      /* IE6-IE8 */ url('../public/fonts/poppins-v20-latin-700.woff2')
        format('woff2'),
      /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
        url('../public/fonts/poppins-v20-latin-700.woff') format('woff'),
      /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
        url('../public/fonts/poppins-v20-latin-700.ttf') format('truetype'),
      /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
        url('../public/fonts/poppins-v20-latin-700.svg#Poppins') format('svg'); /* Legacy iOS */
  }
  /* poppins-800 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    src: url('../public/fonts/poppins-v20-latin-800.eot'); /* IE9 Compat Modes */
    src: url('../public/fonts/poppins-v20-latin-800.eot?#iefix')
        format('embedded-opentype'),
      /* IE6-IE8 */ url('../public/fonts/poppins-v20-latin-800.woff2')
        format('woff2'),
      /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
        url('../public/fonts/poppins-v20-latin-800.woff') format('woff'),
      /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
        url('../public/fonts/poppins-v20-latin-800.ttf') format('truetype'),
      /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
        url('../public/fonts/poppins-v20-latin-800.svg#Poppins') format('svg'); /* Legacy iOS */
  }
  /* poppins-900 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 900;
    src: url('../public/fonts/poppins-v20-latin-900.eot'); /* IE9 Compat Modes */
    src: url('../public/fonts/poppins-v20-latin-900.eot?#iefix')
        format('embedded-opentype'),
      /* IE6-IE8 */ url('../public/fonts/poppins-v20-latin-900.woff2')
        format('woff2'),
      /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
        url('../public/fonts/poppins-v20-latin-900.woff') format('woff'),
      /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
        url('../public/fonts/poppins-v20-latin-900.ttf') format('truetype'),
      /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
        url('../public/fonts/poppins-v20-latin-900.svg#Poppins') format('svg'); /* Legacy iOS */
  }
}

@layer components {
  /* body {
        @apply m-12 p-4 ...
    }; */
  .page {
    padding-top: 2.5rem;
    padding-left: 2rem;
    padding-bottom: 1.25rem;
    padding-right: 2rem;
  }
  .title-black {
    font-family: 'Poppins';
    font-weight: 900;
    font-size: 28px;
    color: black;
  }
  .title-bold {
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 28px;
    color: black;
  }
  .landing-quote {
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 24px;
    color: black;
  }
  .body {
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 16px;
    color: black;
  }
  .body-semibold {
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 16px;
    color: black;
  }
  .body-semibold-disabled {
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 16px;
    color: #acacac;
  }
  .body-accent {
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 16px;
    color: #fa9a5d;
  }
  .body-light {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 16px;
    color: #acacac;
  }
  .button {
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 16px;
    color: black;
  }
  .button-small {
    font-family: 'Poppins';
    font-weight: 800;
    font-size: 12px;
    color: black;
  }
  .description {
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 14px;
    color: black;
  }
  .description-light {
    font-family: 'Poppins';
    font-weight: 300;
    font-size: 14px;
    color: black;
  }

  .description-semibold {
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 16px;
    color: black;
  }

  .small {
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 10px;
    color: black;
  }
  .small-bold {
    font-family: 'Poppins';
    font-weight: 800;
    font-size: 10px;
    color: black;
  }
  .special-accent {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 12px;
    color: #fa9a5d;
  }
  .questionVote {
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 18px;
    color: black;
  }
  .emotionGradient {
    background-image: linear-gradient(
      to right,
      #fa1911,
      #fa9a5d,
      #febf10,
      #79cb65,
      #4d9979
    );
  }
}

@layer utilities {
  .border-brutal {
    border: 3px solid #000000;
  }
  .border-brutal-disabled {
    border: 3px solid #acacac;
  }
  .shadow-brutal {
    box-shadow: -4px 4px 0px rgba(0, 0, 0, 1);
  }

  .scrollbar::-webkit-scrollbar {
    width: 15px;
  }

  .scrollbar::-webkit-scrollbar-track {
    border-radius: 4px;
    background: #fa9a5d;
    border: black 3px solid;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: #9fcc95;
    border-radius: 4px;
    border: 3px solid black;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #3d6732;
  }

  .scrollbar-hidden::-webkit-scrollbar {
    width: 0;
    background: transparent;
  }

  .scrollbarteal::-webkit-scrollbar {
    width: 15px;
  }
  .scrollbarteal::-webkit-scrollbar-track {
    border-radius: 4px;
    background: #9fcc95;
    border: black 3px solid;
  }

  .scrollbarteal::-webkit-scrollbar-thumb {
    background: #038b91;
    border-radius: 4px;
    border: 3px solid black;
  }

  .scrollbarteal::-webkit-scrollbar-thumb:hover {
    background: #3d6732;
  }

  .scrollbarteal-hidden::-webkit-scrollbar {
    width: 0;
    background: transparent;
  }

  .appName {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 65px;
    line-height: 98px;
    text-align: center;
    color: #febf10;
    text-shadow: -4px 4px 0px #000000;
    -webkit-text-stroke: 2px black;
  }
}
#valuesConesnusController {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 230px;
}

option {
  padding: 8px;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 14px;
  color: black;
}

/* ======================== */
/* Censensus Controller CSS */
/* ======================== */
#rangeValue {
  margin-left: 4px;
  -webkit-appearance: none;
  width: 230px;
  height: 40px;
  margin-right: 10px;
  background: white;
  border-radius: 4px;
  border: 3px solid #000000;
  box-shadow: -4px 4px 0px rgba(0, 0, 0, 1);
  background-image: linear-gradient(#febf10, #febf10);
  background-size: 80% 100%;
  background-repeat: no-repeat;
}

/* Input Thumb */
#rangeValue::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 40px;
  width: 4px;
  background: black;
  cursor: ew-resize;
  transition: background 0.3s ease-in-out;
}

/* Input Track */
#rangeValue::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}
#outputValue {
  display: inline-block;
  vertical-align: middle;
  background: #febf10;
  width: 53px;
  height: 40px;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 14px;
  color: black;
  text-align: center;
  line-height: 28px;
  border-radius: 3px;
  border: 3px solid #000000;
  color: black;
  box-shadow: -4px 4px 0px rgba(0, 0, 0, 1);
  padding: 4px;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 14px;
  color: black;
}

/* ======================== */
/* Poll Progression Bar CSS */
/* ======================== */

#valuesPollProgression {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 200px;
}

#rangeValuePollProgression {
  margin-left: 4px;
  -webkit-appearance: none;
  width: 200px;
  height: 40px;
  margin-right: 10px;
  background: white;
  border-radius: 4px;
  border: 3px solid #000000;
  background-image: linear-gradient(#79cb65, #79cb65);
  background-size: 0% 100%;
  background-repeat: no-repeat;
}

/* Input Thumb */
#rangeValuePollProgression::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 40px;
  width: 4px;
  background: black;
}

/* Input Track */
#rangeValuePollPogression::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}
#outputValuePollProgression {
  display: inline-block;
  vertical-align: middle;
  background: #79cb65;
  width: 53px;
  height: 40px;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 14px;
  color: black;
  text-align: center;
  line-height: 34px;
  border-radius: 3px;
  border: 3px solid #000000;
  color: black;
}
.toast-container {
  --toastify-color-light: #ffedbc;
  --toastify-color-dark: #2f9ca1;
  --toastify-color-info: #038b91;
  --toastify-color-success: #79cb65;
  --toastify-color-warning: #febf10;
  --toastify-color-error: #fa1911;
  --toastify-color-transparent: rgba(255, 255, 255, 1);

  --toastify-icon-color-info: var(--toastify-color-info);
  --toastify-icon-color-success: var(--toastify-color-success);
  --toastify-icon-color-warning: var(--toastify-color-warning);
  --toastify-icon-color-error: var(--toastify-color-error);

  --toastify-toast-width: 320px;
  --toastify-toast-background: #febf10;
  --toastify-toast-min-height: 64px;
  --toastify-toast-max-height: 800px;
  --toastify-font-family: 'Poppins';
  --toastify-z-index: 9999;

  --toastify-text-color-light: #000000;
  --toastify-text-color-dark: #fff;
}

/* ======================== */
/*      Check Boxes        */
/* ======================== */

.checkmarkBox {
  background-color: #038b91;
  -webkit-appearance: none;
  width: 34px;
  height: 34px;
  border-radius: 4px;
  border: 4px solid #000000;
  color: black;
  box-shadow: -4px 4px 0px rgba(0, 0, 0, 1);
  background-image: url('/images/Icons/uncheckSvg.svg');
  background-repeat: no-repeat;
  background-position: center;
}
.checkmarkBox:checked {
  border-radius: 4px;
  border: 4px solid #000000;
  color: black;
  box-shadow: -4px 4px 0px rgba(0, 0, 0, 1);
  background-image: url('/images/Icons/checkSvg.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.checkmarkRadio {
  background-color: #038b91;
  -webkit-appearance: none;
  width: 34px;
  height: 34px;
  border-radius: 4px;
  border: 4px solid #000000;
  color: black;
  box-shadow: -4px 4px 0px rgba(0, 0, 0, 1);
  background-repeat: no-repeat;
  background-position: center;
}
.checkmarkRadio:checked {
  border-radius: 4px;
  border: 4px solid #000000;
  color: black;
  background-image: url('/images/Icons/radiocheck.svg');
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: none;
}
