@tailwind base;
@tailwind components;
@tailwind utilities;

/* .box_container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 311px;
  height: 60px;
  box-shadow: -4px 4px;
  border-radius: 4px;
  border-style: solid;
  border-width: 2px;
} */

/* .box_container--primary {
  background-color: #4d9979;
  border-color: black;
}
.box_container--secondary {
  background-color: #038b91;
  border-color: black;
} */

/* .box_container svg {
  width: 31px;
  height: 31px;
} */
/* .single_box {
  background-color: #febf10;
  box-shadow: -4px 4px;
  border-radius: 4px;
  border-style: solid;
  border-width: 2px;
  width: 56px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-color: black;
} */
