.react-calendar {
  max-width: 100%;
  box-shadow: -4px 4px 0px rgba(0, 0, 0, 1);
  border: 3px solid #000000;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 14px;
}
.react-calendar__year-view__months__month {
  text-transform: uppercase;
}

.react-calendar--doubleView {
  width: 700px;
}

.react-calendar--doubleView .react-calendar__viewContainer {
  display: flex;
}

.react-calendar--doubleView .react-calendar__viewContainer > * {
  width: 50%;
  margin: 0.5em;
}

.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.react-calendar button {
  margin: 0;
  outline: none;
}

.react-calendar button:enabled:hover {
  cursor: pointer;
}

.react-calendar__navigation {
  display: flex;
  height: 44px;
  margin-bottom: 1em;
  gap: 16px;
}

.react-calendar__navigation button {
  min-width: 44px;
  border: 3px black solid;
  box-shadow: -4px 4px 0px rgba(0, 0, 0, 1);
}
.react-calendar__navigation__next-button,
.react-calendar__navigation__prev-button {
  background-color: #038b91;
  font-size: 2rem;
  line-height: 2rem;
}

.react-calendar__year-view__months,
.react-calendar__month-view {
  min-height: 188px;
}

.react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  margin-bottom: 4px;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 14px;
}

.react-calendar__month-view__weekNumbers .react-calendar__tile {
  display: flex;
  align-items: center;
  justify-content: center;
}

.react-calendar__month-view__days__day--neighboringMonth {
  color: #038b91;
}

.react-calendar__tile {
  width: 30px;
  padding: 0px;
  background: none;
  text-align: center;
  margin: 4px;
  box-sizing: border-box;
  border: 3px transparent solid;
}

.react-calendar__tile:disabled {
  color: #fa9a5d;
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  border: 3px solid #000000;
}

.react-calendar__tile--now {
  border: 3px #ffedbc solid;
}

.react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #e6e6e6;
}

.react-calendar__navigation__label__labelText {
  text-transform: uppercase;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 16px;
}
