/* .story-s {
  background-color: #4d9979;
  box-shadow: -4px 4px;
  border-radius: 4px;
  width: 311px;
  height: 60px;
  border-style: solid;
  border-width: 2px;
}

.storybook-navbar {
  /* display: flex;
  justify-content: space-between;
  align-items: center; */
/* }
.storybook-navbar a {
  list-style-type: none;
  background-color: #febf10;
  box-shadow: -4px 4px;
  border-radius: 4px;
  width: 56px;
  height: 44px;
  /* display: flex;
  justify-content: center;
  align-items: center; */
/* border-style: solid;
  border-width: 2px;
/* } */

/* .storybook-navbar svg {
  width: 31px;
  height: 31px;
} */

.box_container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 311px;
  height: 60px;
  background-color: #4d9979;
  box-shadow: -4px 4px;
  border-radius: 4px;
  border-style: solid;
  border-width: 2px;
}
.box_container svg {
  width: 31px;
  height: 31px;
}
.single_box {
  background-color: #febf10;
  box-shadow: -4px 4px;
  border-radius: 4px;
  border-style: solid;
  border-width: 2px;
  width: 56px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
}
